@keyframes scale-icon {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
